<div class="well">
  <a class="btn btn-default btn-sm" href="#list"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
  <button class="btn btn-sm btn-success pull-right" ng-if="!editable" ng-click="edit()">Edit</button>
</div>

<h1 class="page-header">
  <span ng-if="!editable" >{{ contact.name }} </span>
  <input type="text" class="form-control" id="name" placeholder="Name" ng-if="editable" ng-model="contact.name">
</h1>

<div class="row">
  <div class="col-md-3 col-lg-3" align="center">
    <img alt="User Pic" ng-src="{{ contact.picture }}" ng-if="contact.picture" class="img-thumbnail"> 
  </div>
  <div class="col-md-9 col-lg-9">
    <form class="form-horizontal">
      <div class="form-group" ng-if="!contact.picture && editable">
        <label for="picture" class="col-sm-2 control-label">Picture URL</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="picture" placeholder="Picture URL" ng-model="contact.picture">
        </div>
      </div>
      <div class="form-group">
        <label for="twitter" class="col-sm-2 control-label">Twitter</label>
        <div class="col-sm-10">
          <p class="form-control-static" ng-if="!editable">@{{ contact.twitter }}</p>
          <input type="text" class="form-control" id="twitter" placeholder="Twitter" ng-if="editable" ng-model="contact.twitter">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <p class="form-control-static" ng-if="!editable">{{ contact.email }}</p>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-if="editable" ng-model="contact.email">
        </div>
      </div>
      <div class="form-group">
       <label for="phone" class="col-sm-2 control-label">Phone</label>
       <div class="col-sm-10">
          <p class="form-control-static" ng-if="!editable">{{ contact.phone }}</p>
          <input type="text" class="form-control" id="phone" placeholder="Phone" ng-if="editable" ng-model="contact.phone">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          
          <button class="btn btn-sm btn-success" ng-if="editable" ng-click="save()">Save</button>
          <button class="btn btn-sm btn-default" ng-if="editable" ng-click="reset()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>