<h1 class="page-header">Home</h1>

<div class="input-group">
  <span class="input-group-addon" id="search-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
  <input type="text" class="form-control" placeholder="Search" aria-describedby="search-addon" ng-model="search.name">
</div>

<br>

<div class="list-group">
  <div class="list-group-item" ng-repeat="contact in contacts | filter:search">
    <div class="media-left">
      <img class="img-rounded" ng-src="{{ contact.picture }}" width="100">
    </div>
    <div class="media-body">
      <h3 class="media-heading">{{ contact.name }}</h3>
      <ul class="list-inline">
        <li><strong>Twitter:</strong> <a href="http://twitter.com/{{ contact.twitter }}">@{{ contact.twitter }}</a></li>
        <li><strong>Email:</strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
        <li><strong>Phone:</strong> {{ contact.phone }}</li>
      </ul>
      <div class="btn-group btn-group-sm" role="group">
        <a type="button" class="btn btn-primary" href="#/show/{{ contact.id }}">Show</a>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>